@import "tailwindcss";

@theme {
  --color-primary: #0B1F3A;
  --color-secondary: #2C5D7A;
  --color-accent: #D64545;

  --color-bg: #F5F7FA;
  --color-surface: #FFFFFF;
  --color-border: #E2E8F0;

  --color-text: #1A1A1A;
  --color-muted: #6B7280;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Inter, system-ui, sans-serif;
}